.background {
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-color: whitesmoke;
    background-size: 100%;

    font-family: "Baloo Tammudu 2", cursive;
}

h1 {
    margin-bottom: 0;
}

h6 {
    margin: 0;
}

b {
    line-height: 2.2;
}

tr {
    cursor: pointer;
}

.row {
    margin-bottom: 14px;
}

.modal {
    border-radius: 20px;
}

.no-bottom {
    margin-bottom: 0;
}

.float-image {
    border-radius: 10px !important;
    width: 100px !important;
    height: 60px !important;
}

.color-white {
	color: whitesmoke;
}

.background-white {
    background-color: white;
}

.card, .tabs, .card-action {
	border-radius: 20px !important;
}

.input-group {
    display: table;
    margin: 0%;
}

.input-group input, .suffix {
    display: table-cell;
}

.suffix {
    width:1%;
}

.set-image {
    width: fit-content;
}

.set-card-action {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.fit-center {
    width: fit-content;
    margin: auto;
}

.pointer {
    cursor: pointer;
}